/*
 * Kobalt CSS
 */

#features {
    display: none
}

code {
    background-color: #ffffff;
}

.source-header {
    border: solid 1px #cccccc;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

div.syntaxhighlighter {
    padding: 10px;
    margin: 0;
    border: solid 1px #cccccc;
    border-radius: 10px;
}

table {
    font-size: 120%;
}

#table-of-contents {
    border: solid 1px #cccccc;
    border-radius: 10px;
}

.toc-item-0 {
    margin-top: 10px;
    font-size: 130%;
    font-weight: bold;
}

.toc-item-1 {
    font-size: 120%;
}

.toc-item-2 {
    font-size: 110%;
}

.toc-item a:hover {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    text-decoration: none;
    background: #dffbf8;
    display: block;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 *
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter {
    background-color: #edfaff !important;
}
/*.syntaxhighlighter .line.alt1 {*/
/*background-color: white !important;*/
/*}*/
/*.syntaxhighlighter .line.alt2 {*/
/*background-color: #FFFABF;*/
/*}*/
/*.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {*/
/*background-color: #c3defe !important;*/
/*}*/
.syntaxhighlighter .line.highlighted.number {
    color: white !important;
}
.syntaxhighlighter table caption {
    color: black !important;
}
.syntaxhighlighter .gutter {
    color: #787878 !important;
}
.syntaxhighlighter .gutter .line {
    border-right: 3px solid #d4d0c8 !important;
}
.syntaxhighlighter .gutter .line.highlighted {
    background-color: #d4d0c8 !important;
    color: white !important;
}
.syntaxhighlighter.printing .line .content {
    border: none !important;
}
.syntaxhighlighter.collapsed {
    overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
    color: #3f5fbf !important;
    background: white !important;
    border: 1px solid #d4d0c8 !important;
}
.syntaxhighlighter.collapsed .toolbar a {
    color: #3f5fbf !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #aa7700 !important;
}
.syntaxhighlighter .toolbar {
    color: #a0a0a0 !important;
    background: #d4d0c8 !important;
    border: none !important;
}
.syntaxhighlighter .toolbar a {
    color: #a0a0a0 !important;
}
.syntaxhighlighter .toolbar a:hover {
    color: red !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #3f5fbf !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #2a00ff !important;
}
.syntaxhighlighter .keyword {
    color: #7f0055 !important;
}
.syntaxhighlighter .preprocessor {
    color: #646464 !important;
}
.syntaxhighlighter .variable {
    color: #aa7700 !important;
}
.syntaxhighlighter .value {
    color: #009900 !important;
}
.syntaxhighlighter .functions {
    color: #ff1493 !important;
}
.syntaxhighlighter .constants {
    color: #0066cc !important;
}
.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #7f0055 !important;
    background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}

.syntaxhighlighter .keyword {
    font-weight: bold !important;
}
.syntaxhighlighter .xml .keyword {
    color: #3f7f7f !important;
    font-weight: normal !important;
}
.syntaxhighlighter .xml .color1, .syntaxhighlighter .xml .color1 a {
    color: #7f007f !important;
}
.syntaxhighlighter .xml .string {
    font-style: italic !important;
    color: #2a00ff !important;
}

